.alert h2{
   font-size:20px;
}
table .btn.disabled{
   display:none;
}
#playlist_next + li{
   background:#D9541A;
   color:#eee;
}
@media(max-width:767px){
   .alert,#playing_box,#page-title{
      display:none;
   }
   #mainmenu{
      margin-bottom:20px;
   }
}
