body{
   padding-top:60px;
}
.navbar .brand{
   background:url("../img/logo.png") center no-repeat;
   border-bottom:3px solid transparent;
   overflow:hidden;
   text-indent:-200%;
   width:226px;
}
.alert h2{
   font-size:20px;
}
.table tr,.table td{
   vertical-align:middle;
}
table .btn.disabled{
   display:none;
}
.typeahead{
   z-index:1040;
}
#illus{
   bottom:0;
   display:none;
   position:fixed;
   z-index:-1;
}

#playlist_next + li{
   background:#D9541A;
   color:#eee;
}

.icon-spotify{
   background-image: url("../img/spotify_icon.png");
   background-position: 0px 0px;
   width: 16px;
   height: 16px;
}

table#playlist_next tr:first .fnct_rm_done{
   display:none;
}

@media(max-width:767px){
   .navbar .brand,.navbar .brand:hover{
      border-bottom:none;
   }
   .alert,#playing_box,#page-title{
      display:none;
   }
   #mainmenu{
      margin-bottom:20px;
   }
}
@media all and (min-height:800px) and (min-width:768px){
   #illus{
      display:block;
   }
}
@media(max-width:1200px){
   body:after{
      left:0;
   }
}

#wall-page, #wall-page h2, #wall-page h3{
   font-size:160%;
   line-height:150%;
}
   #wall-page .alert-info, #wall-page .alert-info h2{
      color:#222;
   }

#artwork-container {
    position: relative;
    max-width: 100%;
}

#artwork-container img {
    position: absolute;
    left: 0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

#wall_queue ul {
    margin-left: 0;
}

#wall_queue li {
   width: 174px;
   height: 174px;
   float: left;
   list-style-type: none;
}
