body{
   padding-top:60px;
}
.navbar .brand{
   background:url("../img/logo.png") center no-repeat;
   border-bottom:3px solid transparent;
   overflow:hidden;
   text-indent:-200%;
   width:183px;
}
.alert h2{
   font-size:20px;
}
table .btn.disabled{
   display:none;
}
.typeahead{
   z-index:1040;
}
#illus{
   bottom:0;
   display:none;
   position:fixed;
   z-index:-1;
}
#playlist_next + li{
   background:#D9541A;
   color:#eee;
}

.icon-spotify{
   background-image: url("../img/spotify_icon.png");
   background-position: 0px 0px;
   width: 16px;
   height: 16px;
}

@media(max-width:767px){
   .navbar .brand,.navbar .brand:hover{
      border-bottom:none;
   }
   .alert,#playing_box,#page-title{
      display:none;
   }
   #mainmenu{
      margin-bottom:20px;
   }
}
@media all and (min-height:800px) and (min-width:768px){
   #illus{
      display:block;
   }
}
@media(max-width:1200px){
   body:after{
      left:0;
   }
}

